[Desktop Entry]
Exec=kcmshell5 customstyleconfig
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kstyle_custom_config
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=CustomBreeze: Widget Style

X-KDE-Keywords=custom,classik,widget,style
